@media screen and (max-width: 998px) {

    html{
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden;
    }

    .navbar{
        position: relative;
    }

    .name-container{
        width: 80vw;
        justify-content: flex-start;
    }

    .menu-button-container{
        width: 20vw;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .menu{
        height: 5vh;
        width: 5vh;
        background-color: var(--normal-bg-color);
        border-radius: 5px;
        margin-right: 10px;
    }

    .menu[name="close"]{
        display: none;
    }

    .nav-link-container{
        height: 40vh;
        width: 100%;
        display: block;
        position: absolute;
        top: 8vh;
        background-color: var(--highlighted-bg-color);
        transform: translateX(100%);
        transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .nav-link-list{
        height: 40vh;
        width: 100%;
        margin: 0;
        flex-direction: column;    
    }

    .nav-link{
        font: larger;
    }
    
    .active-menu .nav-link-container{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateX(0);
    }

    .active-menu .menu[name="close"]{
        display: block;
    }

    .active-menu .menu[name="bars"]{
        display: none;
    }    
}