:root {
    --active-bg-color: #001524;
    --highlighted-text-color: #ff7d00;
    --highlighted-bg-color: #15616d;
    --normal-test-color: #78290f;
    --normal-bg-color: #ffecd1;
}

*{
    margin: 0;
    padding: 0;
}

.navbar{
    height: 8vh;
    background-color: var(--highlighted-bg-color);
    display: flex;
}

.name-container{
    width: 50%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name{
    padding: 2vh;
    color: var(--highlighted-text-color);
}

.nav-link-container{
    width: 50%;
    height: 8vh;
}

.menu-button-container{
    display: none;
}

.nav-link-list{
    margin-left: 5vw;
    height: 8vh;
    width: 25vw;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link{
    height: 5vh;
    padding: 1vh;
    text-decoration: none;
    color: #fff;
    font-size: large;
    border-radius: 5px;
}

.active, .nav-link:hover{
    background-color: var(--active-bg-color);
    color: var(--highlighted-text-color);
    cursor: pointer;
}

.highlighted{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--normal-bg-color);
}

.project{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--normal-bg-color);
}
